 :root {
    --Orange: hsl(26, 100%, 55%);
--Pale-orange: hsl(25, 100%, 94%);



--Very-vark-blue: hsl(220, 13%, 13%);
--Dark-grayish-blue: hsl(219, 9%, 45%);
--Grayish-blue: hsl(220, 14%, 75%);
--Light-grayish-blue: hsl(223, 64%, 98%);
--White: hsl(0, 0%, 100%);
--Black(with 75% opacity for lightbox background):hsl(0, 0%, 0%);

 }

*,
::after,
::before
        {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

 body {
    font-size: 16px;
    font-family: sans-serif;
 }

 .container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: aqua;
       
 }

 .container .inner-container {
    width: 100%;
    max-width: 375px;
    min-height: 100vh;
    overflow: hidden;  
 
    

 }

 header {
    position: relative;
    width: 100%;
    max-height: 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 1 1 0;
    padding:0.75rem 0.85rem;
    background-color: hsl(0, 0%, 100%);
    z-index: 1000;
}

header .nav-btn {
cursor: pointer;
 
} 



header .logo {
    margin-left: 1rem;
    margin-right: auto;
   
}

header .logo img {
    height: 100%;
    width: 100%;
}

header .cart-btn {
        margin-right: 0.5rem;
        padding: 0.8rem;
       cursor: pointer;
}

header .avatar {
    margin-left:0.5rem;
    width: 40px;
    height: 40px;
    border: 2px solid var(--Orange);
    border-radius: 50%;
   }

header .avatar img {
    width: 100%;
    height: 100%;
    
}

header  .links {
   position: relative;
    padding-top: 1.5rem;
    width: 100%;
    max-width: 70%;
   height: 100vh; 
    visibility: collapse;
}

.close-btn {
    padding-top: 0.85rem;
    padding-left: 0.85rem;
}

 header .links ul {
  
    list-style: none;
   padding-top: 3.5rem;
   padding-left: 1.5rem;
   
}

 header .links ul li {
    padding: 0.7rem 0;
    display:block;
 }

 header .links ul li a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.25rem;
    font-weight: 600;
    color: #333;
}
header .show-links {
     position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--White);
   visibility: visible;
    
    
}

main {
    position: relative;
}
main .hero {
    width:100%;
    height:300px;
    background-image: url(./images/image-product-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

main .hero .btn {
     background-color: aliceblue;
    padding:0.75rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


main .info-container {
    padding:0.85rem;
    margin: 0 auto;
    
    border: 1px solid red;
    background-color: whitesmoke;
}

main .info-container .title-info {
            text-transform: uppercase;
            font-size: 1rem;
            line-height: 1.6;
            letter-spacing: 1px;
            color: var(--Orange);
}
main .info-container .header-info {
    font-size: 1.65rem;
    font-weight: 600;
    letter-spacing: 1.2px;
    padding: 0.5rem 0 0.8rem 0;
}

main .info-container .text-info {
          font-size: 1.05rem;
          font-weight: 500;
          line-height: 1.5;
          color: var(--Dark-grayish-blue);
          
}

main .info-container .price-info {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0.4rem 0 ;
    margin: 0.4rem auto ;
}

main .info-container .price-info h4 {
    font-size: 1.67rem;
    letter-spacing: 1px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

main .info-container .price-info .discount-info {
    font-size: 1.15rem;
    font-weight: 600;
    text-align: center;
    margin-left: 1rem;
    padding: 0.3rem 0.8rem;
    border-radius: 5px;
    color: var(--Orange);
    background-color: var(--Pale-orange);
    
}
main .info-container .price-info .info-strike-out {
    font-size: 1rem;
    color: var(--Dark-grayish-blue);
    font-weight: 600;
    letter-spacing: 1.2px;
    text-decoration: line-through;
}

main .info-container .btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.85rem 1.35rem;
    margin: 0.5rem 0;
    background-color: var(--Light-grayish-blue);
    border-radius: 10px;
    color: #444;
}

main .info-container .btns .info-output {
    font-size: 1.4rem;
    font-weight: 600;
}

main .info-container .cart-box .cart-btn {
    text-align: center;
    background-color: var(--Orange);
    padding: 0.95rem;
    border-radius: 10px;
    color: white;
}

main .info-container .cart-box .cart-btn .btn-info {
  color: white;
  font-weight: 600;
  font-size: 1.15rem;
  margin-right: 0.5rem;
    

}

main .cart-info {
 position: absolute;
top:0;
left:0;
visibility: collapse;

}

main  .show-cart {
        margin: 0.5rem;
        width: 95%;
        height: 16rem;
        border-radius: 10px; 
        background-color:var(--White); 
        visibility: visible;
        overflow: hidden;
        
 }

 main .cart-info .cart-head {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
     border-bottom: 1.5px solid rgba(55, 54, 54, 0.2);
    
 }

main .cart-info .cart-head .cart-text {
        font-size: 1.1rem;
        font-weight: 600;
        letter-spacing: 1.1px;
        padding: 1.25rem;
       
}

main .cart-info .cart-box-info {
            width: 100%;
            height: 100%;
            max-height: 12rem;
            display: grid;
            place-items: center;
            position: relative;
         
   
}
main .cart-info .cart-box-info .empty-cart {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    }

 main .cart-info .cart-box-info .remove-empty-cart {
    opacity: 0;
    visibility: collapse;
 }

main .cart-info .cart-box-info .empty-txt {
            font-size: 1.1rem;
            font-weight: 600;
            letter-spacing: 1px;
            color: var(--Dark-grayish-blue);
           
    }

main .price {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
     width: 100%;
     height: 100%;
     padding: 0.85rem 1rem;
     visibility: visible;
     
}
 main .show-price {
  
 visibility: hidden;
 opacity: 1;
}

main .price .price-box {

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 0.5rem;

}


main .price-box .img-box {
    position: relative;
    width: 50px;
    height: 50px;
    
    
}

main .price-box .img-box img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

main .price-box .price-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   margin-left: 1.2rem;
   
}

main .price-details-text p {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--Dark-grayish-blue);
    line-height: 1.2;
    letter-spacing: 1px;
}

main .cart-box-info .check-out {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  var(--Orange);
    width: 95%;
    margin: 0 auto;
  padding:0.85rem 0.85rem;
  border-radius: 10px;
}

main .cart-box-info .check-out p {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--White);
    text-transform: capitalize;
}

