:root {
    /* ### Primary */

--Marine-blue: hsl(213, 96%, 18%);
--Purplish-blue: hsl(243, 100%, 62%);
--Pastel-blue: hsl(228, 100%, 84%);
--Light-blue: hsl(206, 94%, 87%);
--Strawberry-red: hsl(354, 84%, 57%);

/* ### Neutral */

--Cool-gray: hsl(231, 11%, 63%);
--Light-gray: hsl(229, 24%, 87%);
--Magnolia: hsl(217, 100%, 97%);
--Alabaster: hsl(231, 100%, 99%);
--White: hsl(0, 0%, 100%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Ubuntu, sans-serif;
   
}

.container {
    width:500px;
    /* max-width: 500px; */
    height: 100vh;
    /* border: 5px solid gold; */
 
}


.side-bar {
    width: 100%;
    height: 200px;
    background-image: url(./assets/images/bg-sidebar-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
   
}

.side-bar .step-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 2rem;
}

.side-bar .step-list .step-list-item {
    list-style-type: none;
    display: block;
}

.side-bar .step-list .step-list-item .item .item-id {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--White);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.side-bar .step-list .step-list-item .item .active {
    background: var(--Light-blue);
    border: none;
}

.side-bar .step-list .step-list-item .item .item-id .item-number {
   font-size: 1.25rem;
   font-weight: 600;
   color: var(--White);
   
}

.side-bar .step-list .step-list-item .item .active .item-number {
    color: var(--Marine-blue);
}


.side-bar .step-list .step-list-item .item .item-info {
    display: none;
}
 
main {
   
    background:var(--Magnolia);
    width: 100%;
    height: 65vh;
    position: relative;
   
}

section {
   
   width:420px;
  background: var(--White);
  position: absolute;
 top: -16%;
 left: 7%;
 right: 10%; 
 padding: 1.75rem;
 border-radius: 10px;
   
    transform: translateX(-150%);
}

footer {
    width: 100%;
    height: 80px;
    padding:0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .btn {
    padding: 0.75rem 0.5rem;
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: capitalize;
    border: none;
    color: var(--White);
    background: var( --Marine-blue);
    border-radius: 5px;
}

/*  Generic (re-useable) class */
.step-title {
    font-size: 1.75rem;
    font-weight: 600;
    color: var(--Marine-blue);
}

 .step-info {
    font-size: 1.25rem;
    font-weight: 500;
   padding:1rem 0.5rem ;
   padding-left: 0;
    line-height: 1.2;
    color: var(--Cool-gray);
}

.title {
    font-size: 1.1rem;
    font-weight: 700;
    /* text-transform: capitalize; */
    color: var(--Marine-blue);
    line-height: 1.2;
    letter-spacing: 1px;
}

.price {
    font-size: 1.025rem;
    font-weight: 500;
    color: var(--Cool-gray);
    letter-spacing: 1.2px;
   display: none;
}

.text {
    font-size: 1.05rem;
    font-weight: 500;
    color: var(--Cool-gray);
    line-height: 1.4;
}

.plan-container {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
     gap: 1rem;
}

 .plan-container article {

    border: 1px solid var(--Light-gray);
    border-radius: 10px;
    padding: 0.55rem;
}

.plan-container article:hover {
    background: var(--Alabaster);
    border: 1.8px solid var( --Purplish-blue);
    cursor: pointer;
}

.active {
    transform: translateX(0);
}

/* End of Re-useable class */


/* Step 1 */

.step-1 {
    /* transform: translateX(0); */
}
.step-1 form .input-box {
    margin: 0.85rem 0;
}

.step-1 form .label {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    line-height: 1.6;
    color: var(--Marine-blue);
}
.step-1 form .label-box {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

 .step-1 form input {
            width: 100%;
            padding:0.75rem 1rem;
            border: 2px solid var(--Light-gray);
            border-radius: 5px;
            outline: none;
}

.step-1 form  input::placeholder {
   font-size: 1.12rem;
   font-weight: 600;
   letter-spacing: 1px;
   color: var(--Cool-gray);
}

.step-1 form input:hover {
    cursor: pointer;
}



/* Step 2 */
.step-2 {
    /* transform: translateX(0); */
}
.step-2 .plan-container article .article-box {
    display: flex;
    align-items: flex-start;
    gap: 1.4rem;
}
.step-2 .plan-container article .article-box img {
    width: 45px;
    height: 45px;
}

.step-2 .plan-container article .article-info p {
    line-height: 1.4;
}

.step-2 .plan-container article .article-info .yearly-price {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--Light-gray);
    letter-spacing: 1.4px;
    display: flex;
    flex-flow: column ;  
}

.step-2 .plan-container article .article-info .yearly-price .duration {
    font-size: 1rem;
    font-weight: 600;
    color: var(--Marine-blue);
}

 .step-2 .subscription {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 1rem;
    background-color: bisque;
    margin: 1.2rem 0;
    padding: 0.75rem;
}

.step-2 .subscription .plan {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: var( --Marine-blue);
}

.step-2 .subscription .toggle-box {
    flex-basis: 50px;
    height: auto;
   display: flex;
   align-items: center;
    border-radius: 20px;
    background-color: brown;
}
 
.step-2 .subscription .toggle-box .toggle-btn {
width: 14px;
height: auto;
border-radius: 50%;
padding: 0.5rem;
transform: translateX(0);
transition: all 100ms ease-in-out;
}
.step-2 .subscription .toggle-box .active {
    transform: translateX(30px);
    transition: all 100ms ease-in-out;
}



/* Step 3 */

.step-3 {
    /* transform: translateX(0); */
}

.step-3 .plan-container {

}
.step-3 .plan-container .box {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0.75rem;
 
}

.step-3 .plan-container .box input {
    flex-basis: 20px;
    height: 20px;
}

.step-3 .plan-container .box input:hover {
    cursor: pointer;
}
.step-3 .plan-container .box .box-info {
    flex: 1 1 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.step-3 .plan-container .box .box-info span .amount {
    font-weight: 500;
    text-decoration: none;
   
}
.step-3 .plan-container .box .box-info span .amount.yearly {
    display: none;
}


/* Step 4 */


.step-4 {
    /* transform: translateX(0); */
}

.step-4 .finish-container {
    /* border: 2px solid red; */
    background: var(--Alabaster);
    padding: 0.75rem;
    border-radius: 10px;
}

.step-4 .finish-container .finish-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}
.step-4 .finish-container .finish-box:nth-of-type(1) {
    border-bottom: 2px solid var(--Light-gray);
}

.step-4 .finish-container .finish-box .cost {
    font-size: 1rem;
    font-weight: 600;
    color: var(--Marine-blue);
}

.step-4 .total-box {
    height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
        padding: 0 0.75rem;
}

.step-4 .total-box .total-text {
font-size: 1.1rem;
font-weight: 600;
letter-spacing: 1px;
color: var(--Cool-gray);
}

.step-4 .total-box .total-price {
    font-size: 1.125em;
    font-weight: 700;
    color: var(  --Purplish-blue);
}

.step-5 {
    /* transform: translateX(0); */
    /* padding: 2rem 1.2rem; */
}

.step-5 .plan-container {
    padding:2.5rem 0;
}

.img-bx {
    align-self: center;
    width: 60px;
    height: 60px;

}

.img-bx img {
    width: 100%;
    height: 100%;
}


.thanks-title {
    align-self: center;
    font-size: 1.65rem;
    font-weight: 700;
}

.thanks-text {
align-self:center;
font-size: 1.18rem;
font-weight: 500;
text-align: center;
letter-spacing: 0.75px;
line-height: 1.6;
color: var(--Cool-gray);
}